    <div class="container-small-card">
      <div class="container-small-card-content">
        <div class="small-card-photo">
          <img
          src="https://img.freepik.com/fotos-premium/mulher-tatuada-trabalhando-em-seu-pequeno-negocio-em-casa_53876-135310.jpg"
          alt=""
          srcset="" >
      </div>

        <div class="small-card-title">
          <h1> <a href="#">Os desafios das mulheres na TI</a> </h1>
      </div>
      </div>
      <div class="container-small-card-separator">
        <hr/>
      </div>
    </div>
