.container-small-card{
  width: 700px;
  margin-bottom: 30px;
}

.container-small-card-content{
  display: flex;
  flex-direction: row;
}

.small-card-photo > img {
  width: 220px;
  min-width: 220px;
  margin-right: 35px;
}

.small-card-title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-small-card-separator{
  margin-top: 10px;
}
