.container-content{
border: 1px solid white;
width: 100%;
height: 100vh;
margin-top: 20px;
display: flex;
flex-direction: column;
align-items: center;
}

.content-cover > img {
  border: solid 5px rgb(144, 144, 144);
  border-radius: 5px;
  width: 500px;
  min-width: 500px;
  height: 300px;
}

.content-description{
  margin-top: 15px;
}

.content-title > h1 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 20px;
}

.content-description > p {
  color: rgb(198, 197, 197);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
}
